.card {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
	width: 270px;
  height: 218px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 8);
}

.card__image {
	border-radius: 10px 10px 0 0;
	background-color: #A0A0A0;
	width: 270px;
	height: 151px;
	object-fit: cover;
	background-repeat: no-repeat;
	cursor: pointer;
}

.card__header {
  padding: 14px 12px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	color: white;
}

.card__header-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.card__btn {
	background-color: inherit;
	width: 20px;
	height: 20px;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	border: 0;
	background-image: url('../../images/bookmark_icon.svg');
}

.card__btn:hover {
	opacity: 0.8;
}

.card__btn_active {
	background-image: url('../../images/bookmark_icon_marked.svg');
}

.card__title {
	margin: 0;
	font-size: 13px;
	font-weight: 500;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 206px;
}

.card__subtitle {
	margin: 0;
	color: #A0A0A0;
	font-size: 11px;
}

@media screen and (min-width: 821px) {
	.card:hover {
		transform: scale(1.1);
	}
}

@media screen and (max-width: 768px) {
	.card {
		width: 339px;
		height: 257px;
	}

	.card__image {
		width: 339px;
		height: 190px;
	}
}

@media screen and (max-width: 425px) {
	.card {
		width: 300px;
		height: 235px;
	}

	.card__image {
		width: 300px;
		height: 168px;
	}
}