.navigation{
	display: flex;
	justify-content: center;
}

.navigation__movies{
	list-style: none;
	display: flex;
	gap: 16px;
}

.navigation__movies-link{
	text-decoration: none;
	color: inherit;
}

.navigation__movies-link:hover{
	opacity: 0.8;
}

@media screen and (max-width: 768px) {
	.navigation__movies {
			display: none;
	}
}